* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

}

body {

    font-family: 'segoe ui';

}

.circles {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    box-sizing: border-box;
}

.circles li {
    position: absolute;
    left: 50%;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.1);
    animation: animate 25s linear infinite;
    bottom: calc(-150px - 40vh);
    max-width: 100%;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 20s;
    border-radius: 50%;
    border-top-left-radius: 0 !important;
    background: rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 25s;
    border-radius: 50%;
    border-top-left-radius: 0 !important;
    background: rgba(36, 29, 29, 0.1);
    max-width: 100%;
}

.circles li:nth-child(3) {
    left: 50%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 20s;
    border-radius: 50%;
    border-top-left-radius: 0 !important;
    background: rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

.circles li:nth-child(4) {
    left: 70%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 15s;
    border-radius: 50%;
    border-top-left-radius: 0 !important;
    background: rgba(44, 39, 39, 0.1);
    max-width: 100%;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 20s;
    border-radius: 50%;
    border-top-left-radius: 0 !important;
    background: rgba(49, 41, 41, 0.1);
    max-width: 100%;
}

.circles li:nth-child(6) {
    left: 55%;
    width: 90px;
    height: 90px;
    animation-delay: 0s;
    animation-duration: 25s;
    border-radius: 50%;
    border-top-left-radius: 0 !important;
    background: rgba(77, 48, 95, 0.1);
    max-width: 100%;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
    animation-duration: 30s;
    border-radius: 50%;
    border-top-left-radius: 0 !important;
    background: rgba(31, 19, 19, 0.1);
    max-width: 100%;
}

.circles li:nth-child(8) {
    left: 30%;
    width: 25px;
    height: 25px;
    animation-delay: 0s;
    animation-duration: 35s;
    border-radius: 50%;
    border-top-left-radius: 0 !important;
    background: rgba(85, 60, 97, 0.1);
    max-width: 100%;
}

.circles li:nth-child(9) {
    left: 80%;
    width: 15px;
    height: 15px;
    animation-delay: 0s;
    animation-duration: 40s;
    border-radius: 50%;
    border-top-left-radius: 0 !important;
    background: rgba(44, 24, 24, 0.1);
    max-width: 100%;
}

.circles li:nth-child(10) {
    left: 5%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
    animation-duration: 45s;
    border-radius: 50%;
    border-top-left-radius: 0 !important;
    background: rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0;
    }

    50% {
        transform: translateY(-60vh) rotate(360deg);
        opacity: 1;
    }

    100% {
        transform: translateY(-120vh) rotate(720deg);
        opacity: 0;
    }
}

#home {
    position: absolute;
    height: 100vh;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(#e2e2e2, transparent 75%); */
    background: linear-gradient(180deg, rgba(226, 226, 226, 0.295) 5%, rgba(0, 212, 255, 0) 100%);


}

.home-title {
    position: absolute;
    top: 35%;
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
}

.home-desc {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.8rem;
    width: 38ch;
    border-right: .15em solid rgb(0, 0, 0);
    animation: typing 4s steps(22) infinite, blink-caret .75s infinite;
    color: #000000;
}

@keyframes typing {

    0%,
    25%,
    100% {
        width: 0;
    }

    50%,
    75% {
        width: 38ch;
    }
}

/* The typewriter cursor effect */

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #000000;
    }
}

.home-news {
    top: 56%;
    position: absolute;

}

.home-news-link {
    text-decoration: none;
}

.home-news-text {
    position: absolute;
    top: 53%;
}

#about {
    position: absolute;
    top: 100vh;
}


.social-links{
    text-decoration: none;
}
table.GeneratedTable {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    color: #000000;
}

table.GeneratedTable td,
table.GeneratedTable th {
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    padding: 3px;
}

table.GeneratedTable thead {
    background-color: #ffffff;
}

#table-mylogo-image {
    width: 150px;
    height: 78.8px;
}
#contact{
    position: absolute;
    top: 210vh;
}
#footer{
    position: absolute;
    width:100%;
    top: 320vh;

}
@media screen and (max-width: 600px) {
  #contact{
      top: 310vh;
  }
  #footer{
      top: 360vh;
  }
  }
